*{
    margin: 0;
    box-sizing: border-box;
}


div{
    /* background-color: lightcoral; */
    height: 300px;
    width: 100%;
}

#pfloat{
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: justify;
    font-size: 20px;
    width: 75%;
    float: left;
    height: 100%;
}

img{
    width: 25%;
    max-height: 100%;
    float: right;
}

/* #########################CLEAR FLOAT####################### */
/* div::after{
    content: "";
    clear: both;
    display: table;
} */