.content{
    background-color: rgb(153, 76, 230);
    text-align: center;
    padding: 20px;
}


.text{
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-size: 1.3em; */
    text-align: justify;

    /* font-style: italic; */
    /* font-weight: bold; */

    color:rgb(79, 79, 87);
    /* font-size: 2vw; */
    /* Google Fonts */
    /* font-family: "Sofia",sans-serif; */
    /* font-family: "Audiowide",sans-serif; */
    /* font-family: "Trirong",sans-serif; */

    font:italic bold 2vw Georgia sans-serif;
    width: 50%;
    margin: auto;
}

.text span{
  font-variant: small-caps; 
}

.effects{
    background: #333;
}